[Unit]
Description=Gunicorn server for 101.37.35.119

[Service]
Restart=on-failure
User=h
WorkingDirectory=/home/h/sites/101.37.35.119/source
ExecStart=/home/h/sites/101.37.35.119/virtualenv/bin/gunicorn --bind unix:/tmp/101.37.35.119.socket suplerlists.wsgi:application

[Install]
WantedBy=multi-user.target